{% extends "registration/adminlte/base.html" %}

{% block title %} Articles List {% endblock title %} 
{% block title-meta%} Articles List {% endblock title-meta %} 
{% block main  %}
    <div class="row">
        <div class="col-12">
        <div class="card">
            <div class="card-header ">
            <h3 class="card-title ">Articles </h3>

            <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                    <i class="fas fa-search"></i>
                    </button>
                </div>
                </div>
            </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Author</th>
                    <th>Published Time</th>
                    <th>Status</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {% for article  in articles %}
                    <tr>
                        <td>{{article.title}}</td>
                        <td>{{article.category_to_str}}</td>
                        <td>{{article.author.username}}</td>
                        <td>{{article.published_at}}</td>
                        <td>
                            {% if article.status == "p" %}
                                <span class="badge badge-success"> Published </span><br>
                                <a class="badge badge-primary" target="blank"  href="{% url 'blog:detail' article.slug %}"> Show article in site</a>
                            {% else %}
                                <span class="badge badge-danger"> Draft</span><br>   
                            {% endif %}

                        </td>
                        <td>{{article.description|striptags|truncatewords:"15"}}</td>
                        <td>
                            {% if user.is_superuser %}
                            <a href="{% url 'accounts:article-delete' article.id %}"><i class="fa fa-trash" id="icon-delete" ></i></a>
                            {% endif %}
                        </td>
                        <td>
                            {% if article.status == "d" or user.is_superuser%}
                            <a href="{% url 'accounts:article-update' article.id %}"><i class="fa fa-edit" id='icon-edit' ></i></a>
                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}
                
                </tbody>
            </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        </div>
    </div>
{% endblock main  %}